#cat-img {
    height: 450px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#cat-fact {
    height: 450px;
    display: flex;
    justify-content: center;
    align-content: center;

}

#cat-fact p {
    text-align: center;
    font-size: 30px;
    padding: 50px;
}


.fav-imgs {
    margin-bottom: 20px;
    margin-right: 20px;
    width: auto;
    height: 15rem;
}

.facts {
    margin-bottom: 20px;
    margin-right: 20px;
    width: auto;
    font-size: 20px;
}